<h1>Listing charities</h1>

<table>
  <tr>
    <th>Charity name</th>
	<th>Short name</th>
    <th>Contact name</th>
    <th>Email</th>
    <th>Login</th>
    <th>Password</th>
    <th>About</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @charities.each do |charity| %>
  <tr>
    <td><%= charity.charity_name %></td>
	<td><%= charity.short_name %></td>
    <td><%= charity.contact_name %></td>
    <td><%= charity.email %></td>
    <td><%= charity.login %></td>
    <td><%= charity.password %></td>
    <td><%= charity.about %></td>
    <td><%= link_to 'Show', charity %></td>
    <td><%= link_to 'Edit', edit_charity_path(charity) %></td>
    <td><%= link_to 'Destroy', charity, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Charity', new_charity_path %>
