<!--TOPBAR WRAP-->
<header>
	<div class="container">
        <!--LOGO HOLDER-->
        <a href="http://wishlisting.org"><div class="logo">
        </div></a>
        <!--//LOGO HOLDER-->
        
        <!--MAIN NAV WRAP-->
        <nav class="main" role="menu">
            
        </nav>
        <!--//MAIN NAV WRAP-->
        
        <div class="floatClear"></div><!--FLOAT FIX-->

		<!--MAIN SEARCH-->
        <form class="charityTitle" role="search">
            <h2><%= @charity.charity_name %></h2>
        </form>
        <!--//MAIN SEARCH-->
        
	</div>
</header>
<!--//TOPBAR HOLDER-->

<!--MAIN BODY-->
<div class="bodyWrap" role="main">

    <div class="floatClear"></div><!--FLOAT FIX-->
	
    <!--GRID 4 THUMB CONTAINER-->
    <div class="showcase container_4">
    	
        <div class="floatClear"></div><!--FLOAT FIX-->
    	
		<% @wishlist_items.each do |wishlist_item| %>			
			<!--THUMB AND INFO MAIN WRAP-->
	        <div class="grid_1">

	            <!--THUMB WRAP-->
	        	<div class="imgWrap">
					<% before_images = Image.find(:all, :conditions => { :wishlist_item_id => wishlist_item.id, :image_type => false })%>
					<% if before_images.empty? %>
						<a href="/list/<%= @charity.short_name %>/<%= wishlist_item.id %>"><%= image_tag("NoImageAvailable.png") %></a>
					<% else %>
						<% before_image = before_images[0] %>
	            		<a href="/list/<%= @charity.short_name %>/<%= wishlist_item.id %>"><%= cl_image_tag(before_image.image, :alt => before_image.image) %></a>
					<% end %>
	            </div>
	            <!--//HUMB WRAP-->

	            <div class="imgFooter"></div><!--THUMB SHADOW-->

	            <a href="/list/<%= @charity.short_name %>/<%= wishlist_item.id %>"><h1><%= @charity.short_name %>: <span><%= wishlist_item.item %></span></h1></a><!--INFO HEADER-->
	            <p><%= wishlist_item.description %></p><!--MAIN INFO-->

	        	<!--TERMOMETER WRAP-->
	            <div class="thermometerWrap">

	                <!--TERMOMETER BG-->
	            	<div class="thermometerBg">
	                	<div class="progress"  style="width:<%= wishlist_item.percentAgainstGoal %>%"></div><!--USE STYLE TO CONTRO PROGRESS-->
	                </div>
	                <!--//TERMOMETER BG-->

	                <span class="left">Raised $<%= number_with_precision(wishlist_item.progressAgainstGoal, :precision => 2) %></span><!--RAISED INFO-->
	                <span class="right">Goal $<%= number_with_precision(wishlist_item.goal, :precision => 2) %></span><!--NEEDS INFO-->
	            </div>
	            <!--//TERMOMETER WRAP-->

	        </div>
	        <!--//THUMB AND INFO MAIN WRAP-->			
		<% end %>	
	
        <div class="floatClear"></div><!--FLOAT FIX-->
    
    </div>
    <!--//GRID 4 THUMB CONTAINER-->
    
    <div class="container">
        <div class="bodyDivider"></div><!--SECTIION DIVEDER-->
    </div>

	<div class="floatClear"></div><!--FLOAT FIX-->        
</div>
<!--//MAIN BODY-->


<!--FOOTER WRAP-->
<footer>
</footer>
<!--//FOOTER WRAP-->