<p id="notice"><%= notice %></p>

<input id="charity_id" type="hidden" value="<%= @charity.id %>" /> 

<p>
  <b>Charity name:</b>
  <%= @charity.charity_name %>
</p>

<p>
  <b>Short name:</b>
  <%= @charity.short_name %>
</p>

<p>
  <b>Base URL to Donor Town Square donation page:</b>
  <%= @charity.dts_url %>
</p>

<p>
  <b>Contact name:</b>
  <%= @charity.contact_name %>
</p>

<p>
  <b>Email:</b>
  <%= @charity.email %>
</p>

<p>
  <b>Login:</b>
  <%= @charity.login %>
</p>

<p>
  <b>Password:</b>
  <%= @charity.password %>
</p>

<p>
  <b>About:</b>
  <%= @charity.about %>
</p>


<%= link_to 'Edit', edit_charity_path(@charity) %> |
<%= link_to 'Back', charities_path %> |
<%= link_to "Add Wishlist Item", {:controller => "wishlist_items", :action => "new", :charity => @charity.id} %>
