<%= render :template => 'layouts/_admin_top' %>

<h1>Editing wishlist_item</h1>

<%= render 'form' %>

<%= link_to 'Show', @wishlist_item %> |
<%= link_to 'Back', wishlist_items_path %>

<%= render :template => 'layouts/_admin_bottom' %>
