<p id="notice"><%= notice %></p>

<p>
  <b>Charity:</b>
  <%= @wishlist_item.charity_id %>
</p>

<p>
  <b>Item:</b>
  <%= @wishlist_item.item %>
</p>

<p>
  <b>Description:</b>
  <%= @wishlist_item.description %>
</p>


<%= link_to 'Edit', edit_wishlist_item_path(@wishlist_item) %> |
<%= link_to 'Back', wishlist_items_path %> | 
<%= link_to 'Images', images_path %>

<p>
<% if @before_images.empty? %>
	<p>Please upload one or more images for this item.</p>	
<% else %>
	
	  <b>Before Images</b>
	  <%
		@before_images.each do |before_image|
		  puts "Description: #{before_image.description}</br>"
		end
	  %>
<% end %>
<p><b>Add a "Before" image!</b></p>
<%= form_tag({:action => :upload_before_image}, :multipart => true) do %>
	<%= file_field_tag 'before_image' %>
	<%= button_tag 'Upload image', :type => 'submit' %>
<% end %>
</p>
