<h1>Listing images</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Description</th>
    <th>Image Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image.image %></td>
    <td><%= image.description %></td>
    <td><%= image.image_type %></td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Destroy', image, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image', new_image_path %>
